html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: #000;
}

.page {
  background-color: #000000;
  margin: auto;
  max-width: 100%;
  min-height: 100%;
  color: #ffffff;
}
